@model MvcOnlineShopping.Models.Entity.TBLMember
@{
    ViewBag.Title = "AddingMember";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Üye Ekle</h2>

<form class="form-group" method="post">
    <div style="margin-top:15px">
        <label>Üye Adı</label>
        @Html.TextBoxFor(k => k.Name, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Üye Soyadı</label>
        @Html.TextBoxFor(k => k.Surname, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Üye Email</label>
        @Html.TextBoxFor(k => k.Email, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Üye Şifre</label>
        @Html.TextBoxFor(k => k.Password, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Üye fotoğraf</label>
        @Html.TextBoxFor(k => k.Image, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Üye telefon</label>
        @Html.TextBoxFor(k => k.Telephone, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-group" style="background-color: #899697; color: #ffffff">Üye Ekle</button>
    </div>
    <input type="hidden" name="durum" value="true" />
</form>
